.account-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
    align-items: start;
    align-content: space-between;
    justify-content: space-around;
}