@import '../../styles/colors.css';

.notification-container {
    width: 300px;
    display: flex;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin: 35px;
    flex-direction: column;
    padding: 20px;
    font-weight: bold;

    &__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0
    }

    &--INVITE {
        background: rgba(174, 245, 181, 0.3);;
    }

    &--PUNCH {
        background-color: rgba(75, 0, 130, 0.3);
    }
}