@import '../../styles/colors.css';

.check-wrapper {
    display: flex;
    align-items: center;
    height: 24px;
    justify-content: flex-start;
}

.checkbox {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 1px solid  var(--active);

    &--checked{
    background: var(--active);
    }

    &__value {
        padding-left: 5px;
        line-height: 24px;
        height: 24px;
    }

     &--disabled {
        cursor: not-allowed;
     }
}