@import '../../styles/colors.css';

.status {
    width: 40px;
    border-radius: 10px;
    color: var(--active);
    font-weight: bold;
    padding: 10px 32px;

    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }
}