.itemlist-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%;
}