@import '../../styles/colors.css';

.button {
    border-radius: 2px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px 32px;
    background-color: var(--active);

    &_disabled {
        background-color: var(--disabled);
        cursor: not-allowed;
    }
}