@import '../../styles/colors.css';

.plan {
    margin: 0 auto;
    width: 60%;
    padding-top: 40px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }
}

.stage {
    padding-bottom: 16px;
    display: flex;

    >.check {
        width: 70%;
    }
}

.stage:last-child {
    padding-bottom: 0;
}

.button-container {
    width: max-content;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.name {
    padding-left: 8px;

    &.me {
        color: var(--active);
    }
}
