.header{
    display: block;
    width: 100%;
    text-align: left;
    background-color: var(--main);
    font-size: 22px;
    font-weight: bold;
}

.footer{
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: var(--main);
}

.container {
    display: block;
}

.navigation {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: var(--main);
    display: flex;
}

.navigation > a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    cursor: default;
    color: var(--text);
}

.navigation > a:hover {
    background-color: rgba(54, 129, 175, 0.2);
}