@import '../../styles/colors.css';

.card-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin: 35px;
    flex: 0 0 21%;

    &:hover {
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    &__name {
        color: var(--headers);
        padding: 0 5px;
     }

    &__image {
    }
    &__description {

        margin: 10px 5px;
    }
}