@import '../styles/colors.css';

body {
    font-family: "Segoe UI Light";
    line-height: 24px;
    font-size: 16px;
    color: var(--text);
}

h3 {
    font-size: 18px;
    line-height: 26px;
}

h2 {
    font-size: 20px;
    line-height: 28px;
}

h1 {
    font-size: 24px;
    line-height: 32px;
    margin: 5px;
}

img {
    display: block;
    margin: 0 auto;
}
