.preloader {
    position: relative;
    width: 100%;
    height: 100%;
}

.preloader__container {
    width: 100px;
    height: 100px;
    margin: auto;
}

.preloader__icon {
    width: 100px;
    height: 100px;
    animation: rotation 1s infinite ease-in-out;
}

@keyframes rotation {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
